@tailwind base;
@tailwind components;
@tailwind utilities;

::selection {
  background-color: #47a3f3;
  color: #fefefe;
}

:root {
  --sh-class: #2d5e9d;
  --sh-identifier: #354150;
  --sh-sign: #8996a3;
  --sh-string: #007f7a;
  --sh-keyword: #e02518;
  --sh-comment: #a19595;
  --sh-jsxliterals: #6266d1;
}

@media (prefers-color-scheme: dark) {
  :root {
    --sh-class: #4c97f8;
    --sh-identifier: white;
    --sh-keyword: #f47067;
    --sh-string: #0fa295;
  }
}

html {
  min-width: 360px;
}

.prose .anchor {
  position: absolute;
  visibility: hidden;
  text-decoration: none;
  margin-left: -1em;
  padding-right: 0.5em;
  width: 80%;
  max-width: 700px;
  cursor: pointer;
}

.anchor:hover {
  visibility: visible;
}

.prose a {
  transition-property: all;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-duration: 150ms;
  text-underline-offset: 2px;
  text-decoration-thickness: 0.1em;
  text-decoration-color: light-dark(var(--color-gray-400), var(--color-gray-600));
}

.prose .anchor:after {
  content: '#';
  color: light-dark(var(--color-gray-300), var(--color-gray-700));
}

.prose *:hover > .anchor {
  visibility: visible;
}

.prose pre {
  border-radius: 0.5rem; /* rounded-lg */
  overflow-x: auto;
  background-color: light-dark(var(--color-gray-50), var(--color-gray-900));
  border: 1px solid light-dark(var(--color-gray-200), var(--color-gray-900));
}

.prose code {
  padding: 0.25rem 0.5rem; /* px-1 py-0.5 */
  border-radius: 0.5rem; /* rounded-lg */
}

.prose pre code {
  padding: 0;
  border: initial;
  line-height: 1.5;
}

.prose code span {
  font-weight: 500;
}

.prose img {
  /* Don't apply styles to next/image */
  margin: 0;
}

.prose h2,
h3,
h4 {
  font-weight: 500 !important;
  letter-spacing: -0.05em !important;
}

.prose strong {
  font-weight: 500;
}

.prose > :first-child {
  /* Override removing top margin, causing layout shift */
  margin-top: 1.25em !important;
  margin-bottom: 1.25em !important;
}

pre::-webkit-scrollbar {
  display: none;
}

pre {
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}

/* Remove Safari input shadow on mobile */
input[type='text'],
input[type='email'] {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}

.prose .tweet a {
  text-decoration: inherit;
  font-weight: 500;
}

table {
  display: block;
  max-width: fit-content;
  overflow-x: auto;
  white-space: nowrap;
}

.prose .callout > p {
  margin: 0 !important;
}

.title {
  text-wrap: balance;
}

/* Modal background */
.modal {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 50;
}

/* Modal content */
.modal-content {
  padding: 1.5rem; /* p-6 */
  border-radius: 0.5rem; /* rounded-lg */
  box-shadow: 0 10px 15px -3px rgb(0 0 0 / 0.1), 0 4px 6px -4px rgb(0 0 0 / 0.1); /* shadow-lg */
  max-width: 32rem; /* max-w-lg */
  width: 100%;
  background-color: var(--color-white);
}

/* Close button */
.close {
  float: right;
  cursor: pointer;
  color: var(--color-black);
}